/* Default HTML 2 CSS */
HTML, BODY {
 height: 100%;
}
BODY {
  font-family: "Century Gothic", sans-serif, Helvetica;
  line-height: 1.1;
 font-size: 11px;
 background-color: #FFFFFF;
  color: black;
  border: 0px;
 width: 100%;
  margin: 0px;
}

.defaultTitle {
	letter-spacing : 1pt;
 font-family: "Century Gothic", sans-serif;
 display: block;
 width: 99%;
 margin: 0px;
 font-size: 13px;
 font-weight: bold;
 position: relative;
}
.defaultContent {
  display: block;
  width: 95%;
  background-color: #ffffff;
}
.defaultContent PRE {
  display: block;
  margin: 0px;
  border-width: 1px;
}
.defaultContent P {
  display: block;
  border-width: 1px;
  margin-left: 25px;
  margin-right: 10px;
}
.defaultContent A:hover {
  background-color: #d6ebfe;
}
TH.contentTable, TD.contentTable, DIV#content, .contentTableTitle {
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  background-color: white;
  color: black;
  letter-spacing: normal;
  vertical-align: top;
  word-spacing: normal;
  white-space: normal;
  line-height: 1.2;
  visibility: visible;
}
TH.contentTable, .contentTableTitle {
 font-weight: bolder;
}
DIV#content {
  width : 95%;
  position: relative;
  top: 0px;
  left: 6px;
  right: 0px;
  margin: 0px;
  padding: 7px;
}

TABLE.contentTable {
  position: absolute;
  border: solid 1px;
  margin: 8px;
  overflow:auto;
  display: table;
}
TH.contentTable {
  font-weight: bold;
  padding: 6px;
  border: solid 1px;
}
TD.contentTable {
  border: solid 1px black;
}





/* bottom matter */

.edit {
  text-align: right;
}
.copyright {
  font-family: "Century Gothic", sans-serif, Helvetica;
  font-size: 10px;
  text-align: right;
  margin-right: 2px;
}
.colophon {
  font-family: "Century Gothic", sans-serif, Helvetica;
  font-size: 10px;
  text-align: left;
}
.colophon A {
 color: black;
 font-weight: normal;
 font-size: 10px;
}
.validity {
  text-align: right;
}


A {
 font-family: "Century Gothic", sans-serif, Helvetica;
}

A.link {
 font-size: 11px;
}


DIV#frontPageImage {
 display: block;
 background-image: url(/images/index_r4_c4.jpg);
 background-repeat:repeat;
 width: 100%;
}

H1, H2, H3, H4, H5, H6, P, UL, OL, DIR, MENU, DIV,
DT, DD, ADDRESS, BLOCKQUOTE, PRE, BR, HR, FORM, DL {
 display: block;
}

P {
 padding-top: 1px; 
 padding-bottom: 1px; 
 margin-top: 2px; 
 margin-bottom: 4px;
 font-size: 13px;
}

B, STRONG, I, EM, CITE, VAR, TT, CODE, KBD, SAMP,
IMG, SPAN { display: inline }

LI { 
 font-size: 11pt;
 display: list-item;
}


H1, H2, H3 { margin-top: 18px; }
H4, H5, H6 { margin-top: 1px; }
H1, H2, H3, H4, H5, H6 { font-weight: bold }
H1 { margin-bottom: 3px ;}
H2, H3, H4, H5, H6 { margin-bottom: 2px ;}
H4, H5 { font-style: italic }

H1 { font-size: 16px; }
H2 { font-size: 16px; }
H3 { font-size: 16px; }


B, STRONG { font-weight: bolder }  /* relative to the parent */
I, CITE, EM, VAR { font-style: italic }
ADDRESS, BLOCKQUOTE { font-style: normal }
PRE, TT, CODE, KBD, SAMP { font-family: monospace }

PRE { white-space: pre }

ADDRESS { }
BLOCKQUOTE {
  margin-left: 1em;
  margin-right: 5em;
  border:1px solid;
}

UL, DIR {
 list-style: disc; 
}
OL { list-style: decimal;}
UL, OL, DIR { 
 /* border: 1px solid;  */
 /* margin:1px;  */
 /* width:63%;  */
}
MENU { margin: 0 }   
LI {
  /* margin-left: 1em  */
}

DT { margin-bottom: 0 }
DD { margin-top: 0; margin-left: 3em }

HR { border-top: solid }            /* 'border-bottom' could also have been used */

A:link { color: #993333; }          /* unvisited link */
A:visited { color: #993333; }       /* visited links */
A:active { color: #FF3333; }        /* active links */


/* setting the anchor border around IMG elements
   requires contextual selectors */

A:link IMG {  }
A:visited IMG { }
A:active IMG { }

/*
Email specific additions 
*/

#page {
 margin-left: 3em;
 margin-right: 3em;
 border: solid 1px black;
 padding-top: 1em;
 padding-left: 2em;
 padding-right: 2em;
 padding-bottom: 1em;
}
#pagetitle {
FONT-SIZE: 11px;
COLOR: #000000;
FONT-FAMILY: arial, sans-serif;
FONT-WEIGHT: bold;
width: auto;
text-align: center;
padding: 0.5em;
margin-top: 1em;
margin-bottom: 2em;
border: solid 1px black;
}

#footer {
FONT-SIZE: 11px;
COLOR: #000000;
width: auto;
text-align: center;
margin-top: 0em;
}
#order, #customer, #user {
 border: 1px solid black;
 width: 90%;
 margin-left: 2em;
 margin-right: 2em;
}
#order>caption, #customer>caption, #user>caption {
  font-weight: bolder;
}

#customer>TH, #user>TH {
  font-weight: bolder;
  text-align: right;
}
#customer>TH, #user>TH {
  font-weight: bolder;
  text-align: right;
  width: 20%;
}
#htmlMessage {
 margin:1em;
 padding: 1em;
}

TD.leftBorderImage {
 vertical-align: top; 
}
IMG.leftBorderImage {
 vertical-align: top; 
}
TD.castleImage{
  height: 285px !important;
  max-height: 285px !important;
}

.contact {
}
.body1 {
  font-family: "Century Gothic", sans-serif, Helvetica;
  line-height: 1.1;
  background: white;
  color: black;
  font-size: 10pt;
  border: 0px;
  margin: 0px;
  font-style: normal;
  font-weight: normal;
}


/**************** menu coding *****************/
.menu {
  background-repeat: repeat-x;
  /* background-color: #8B3A41; */
}

#menu {
  white-space: nowrap;
  float: left;
  font-family: Trebuchet, Geneva, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
  color: #666666; 
  background-color: #B2D986;
  background-image: url(images/Navbar_rgt_tile.jpg);
  background-repeat: repeat;
  position: relative; 
  visibility: visible;
  height: 17px;
  /* left: 162px; */
  /* top: 73px; */
  margin: 0px;
  padding: 0px;
  text-indent: 5px;
  vertical-align: middle;
  line-height: 22px;
  letter-spacing: 0.12em;
  display: table;
  width: 785px;;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  z-index: 5;
  /* background-color: #000000; */
  display: block;
  position: static;
  border: 0px solid blue;
  width:auto;
  /* max-width:110px; */
  /* See head.wm for width expression */
}

#menu>ul {
  width:auto;
  max-width: 150px;
  min-width: 110px;
}

#menu a {
 display: block;
 margin-left : 2px;
 margin-right : 2px;
 text-decoration: none;
 color: #000000;
 font-size: 11px;
 font-style: normal;
 font-weight: bold;
 border:none;
}

#menu a:hover {
  color: #000000;
  background-color: #B2D986;
  background-image: url(images/Navbar_rgt_tile.jpg); 
 /* background-image: url(images/green_menu_bac.gif) */
}

#menu li {
  white-space: nowrap;
  position: relative;
  border: 0px solid green;
}
#menu ul li {
 display: block;
}

#menu ul ul {
 position: absolute;
 z-index: 10;
 min-width: 120px;
 white-space: nowrap;
 text-align:left;
}

#menu ul ul ul {
 position: absolute;
 top: 0;
 z-index: 20;
/* left: 100%;*/
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{
  position: absolute;
  display: none;
}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{
  position: absolute;
  display: block;
  background-color: #B2D986;
  z-index: 30;
}

/* Menu Item A tags */
.menuItem {
}

